@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Libre+Baskerville:ital@1&family=Oswald&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Fira+Sans:wght@200&family=Kanit:ital,wght@0,600;1,500&family=Libre+Baskerville:ital@1&family=Oswald&family=Roboto:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fasthand&family=Fira+Sans:wght@200&family=Kanit:ital,wght@0,600;1,500&family=Libre+Baskerville:ital@1&family=Oswald&family=Roboto:ital,wght@1,100&display=swap');
*{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.container{
    display: flex;
}
.sidebar{
background-color: red;
width: 350px;
font-family: monospace;
height:120vh ;

}
li img{

 margin: auto 35px;
 padding:  5px;
}
.sidebar nav{

    padding: 30px;
}

.sidebar nav ul li {
   padding: 20px 0;
   font-size: 22px;
   color:black;
}


.main{

    background-color: rgb(225, 245, 220);
  width: 100vw;
  padding: 10px;
  font-family: 'Fasthand', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;

}

.infocontainer{
   /* background-color: cyan;*/
    margin: 110px auto;
    width: 65vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}
.name{
    font-size:50px;
    font-weight: bold;
    
}

.hello{
    font-size:55px;
}
.about{
    font-size:30px;
    font-family: 'Roboto', sans-serif;
}
.personalinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.info{
    margin-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin-bottom: 20px;
}

button a{
    text-decoration: none;
}
button{
  padding: 5px;
  margin: 20px;
}

button:hover{
    background-color: skyblue;
    color: red;
    padding: 10px;
}
.pic img{
    border: 1px solid cyan;
    border-radius: 90px;
    height: 65vh;
    border: 3px solid #ccc;
    background: #eee;
    margin-right: 100px ;
    padding: 15px 10px;

}

.sidebar nav ul li a{

    text-decoration-line: none;
    color: black;
  /*  background-color: white;*/
    border: 1px solid red;
    color: black;
    margin-left:45px;

}

.niraj li a:hover{
    background-color: white;
    color: darkgoldenrod;
    padding: 7px;
}
.contactform{
    padding:0 34px ;
  padding-top: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contactform h1{
   font-family: Verdana, Geneva, Tahoma, sans-serif;   
  padding: 15px 0;
  margin-top: -40px;
}
.contactform form div{
    padding: 14px 0px;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
   width: 26vw;
   border-radius: 5px;
   margin: 6px 0 0 0;
   padding: 3px;
}
#emailHelp{
    font-size: 15px;
color: midnightblue;
margin: 0 5px;
}
#form-check{
  flex-direction: row;
}
#form-check input{
  
    width: 35px;
    margin: 2px;

}
.btn1{
  color: red;
  background-color: skyblue;
  
}
.btn1:hover{
    color: black;
    background-color: white;
    
}
#text{
    border-radius: 10px;
    border: 3px solid #ccc;
    background: #eee;
    font-family: cursive;
}
.blogcontainer h2{
    margin-top: 10px;
    margin-left: 151px;
    margin-right: 400px;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   margin-bottom: 10px;
   font-family: 'Fasthand', cursive;
   font-family: 'Fira Sans', sans-serif;
   font-family: 'Kanit', sans-serif;
   font-family: 'Libre Baskerville', serif;
   font-family: 'Oswald', sans-serif;
   font-family: 'Roboto', sans-serif;
   background-color: cornflowerblue;
   border-radius: 5px;
}
.item1{
    width: 500px;
    border: 4px solid white;
    margin-left: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 20px;
    background-color: lightgrey;
    border-radius: 20px;
}
.item1 img{
    
        margin-left:40px;
        margin-top: 10px;
}
.blogcontainer{
    background-color:lightblue;
}
.blogitems{
    float: left;
    display: flex;
   
}
.item1 p{
    padding:7px;
}
.item1 u h3{
    padding: 8px;
    cursor: pointer;
    background-color:aqua;
    margin-right: 100px;
    margin-left: 10px;
    
    background-color: floralwhite;
    border-radius: 12px;
   
}

.item2 u h3{
    margin-right: 290px;
}
.myskill{
    width: 270px;
    height: 10px;
    background-color: red;
  
}

.itms{
    display: flex;
    align-items: center;
}
.hundared{
    width: 280px;
}
.fifty{
    width: 220px;
}
.t5{
    width: 175px;
    
}
.fouth{
    width: 150px;
}